html,
body {
    height: 100%;

    margin: 0;
    padding: 0;

}

* {
    box-sizing: border-box;
}

.page {
    width: 400px;
    height: auto;
    border: 5px solid #fff;
    margin: 5% 0;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.container {
    padding: 5% 5%;
    text-align: center;
}

h1 {
    text-align: center;
    color: #333;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
}

.input input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.button button {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button button:hover {
    background-color: #0056b3;
}

p {
    font-weight: bold;
    text-align: center;
    margin: 25px 0;
    color: #333;
}
span{
    background-color: rgba(204, 74, 74 , 0.5);
    border: 3px rgb(194, 23, 23);
    color: red;
}
.b {
    /* The image used */
    background-image: url("2.jpg");
    background-color: green;
    /* Add the blur effect */
    -webkit-filter: blur(8px);
    filter: blur(8px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
